<div class="col-md-3" id="sidebar-left">
    <div class="container mx-auto">

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
            <li class="nav-item">
                <a href="/category" class="nav-link align-middle px-0 text-dark">
                    <i class="fa-regular fa-rectangle-list"></i> <span
                        class="ms-1 d-none d-sm-inline text-decoration-none">Quản lý chuyên mục</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/tag" class="nav-link align-middle px-0 text-dark">
                    <i class="fa-solid fa-tag"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Quản lý
                        nhãn</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/post" class="nav-link align-middle px-0 text-dark">
                    <i class="fa-solid fa-newspaper"></i> <span
                        class="ms-1 d-none d-sm-inline text-decoration-none">Quản lý bài viết</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/user" class="nav-link align-middle px-0 text-dark">
                    <i class="fa-solid fa-users"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Quản lý
                        người dùng</span>
                </a>
            </li>
            <hr>
            <li class="nav-item text-dark">
                <a href="/assign-work" class="nav-link align-middle px-0">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i></i><span
                        class="ms-1 d-none d-sm-inline text-decoration-none">Phân công công việc</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="/renew-account" class="nav-link align-middle px-0 text-dark">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i></i> <span
                        class="ms-1 d-none d-sm-inline text-decoration-none">Gia hạn tài khoản</span>
                </a>
            </li>

        </ul>
    </div>
</div>