<header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light" style="z-index: 100 !important">
            <div class="container" style="height: 100%;">
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/brand-logo.svg" alt="Brand Logo" />
                </a>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0 header__nav-ul">
                        <li class="nav-item header__nav-li--active">
                            <a class="nav-link" href="/" aria-current="page">Trang chủ <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">Tin tức</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/news" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chuyên mục</a>
                            <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownId">
                                <li>
                                    <a href="/pages/news/news.html" class="dropdown-item">Kinh doanh <i class="fa-solid fa-caret-down"></i></a>
                                    <ul class="dropdown-menu header__dropdown-menu header__dropdown-submenu">
                                        <li><a href="/pages/news/news.html" class="dropdown-item">Nông sản</a></li>
                                        <li><a href="/pages/news/news.html" class="dropdown-item">Hải sản</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/pages/news/news.html" class="dropdown-item">Thể thao <i class="fa-solid fa-caret-down"></i></a>
                                    <ul class="dropdown-menu header__dropdown-menu header__dropdown-submenu">
                                        <li><a href="/pages/news/news.html" class="dropdown-item">Bóng đá</a></li>
                                        <li><a href="/pages/news/news.html" class="dropdown-item">Bóng rổ</a></li>
                                        <li><a href="/pages/news/news.html" class="dropdown-item">Quần vợt</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="header__search-container">
                    <img class="header__search-toggle" src="/assets/images/search-button.svg" alt="Search Toggle Button" onclick="toggleSearchForm()" />
                    <form class="d-flex header__search-form header__search-form--hidden">
                        <input class="form-control me-2" type="search" placeholder="Nhập từ khóa..." aria-label="Search">
                        <button class="btn header__search-submit-button" type="submit">Tìm kiếm</button>
                    </form>
                </div>
                <div id="auth" style="height: 100%; display: flex; align-items: center;">
                    <!-- <a href="/pages/authentication/sign-in.html">
                        <button class="btn btn-primary header__login-button" type="button">Đăng nhập</button>
                    </a> -->
                    <!-- <div class="account-dropdown-toggle" onclick="toggleAccountMenu()">
                        <img src="/assets/images/default-user-icon.jpg" height="80%" alt="">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <div class="account-dropdown-menu account-dropdown-menu--hidden">
                        <div class="account-dropdown-menu__user-info">
                            <div>
                                <h5>Username</h5>
                                <span class="premium-badge">Premium</span>
                            </div>
                            <img src="/assets/images/default-user-icon.jpg" height="75px" alt="">
                        </div>
                        <div>
                            <a href="#">Quản lý tài khoản</a>
                        </div>
                        <div>
                            <p onclick="logOut()">Đăng xuất</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </nav>
    </header>