<div class="container mx-auto">

    <form id="form" action="/writer/editAvatar" method="post" enctype="multipart/form-data">
        <div class="align-items-center">
            <label for="avatar">
            {{#if writer.avatarPath}}
            <img src={{writer.avatarPath}} class="rounded-circle mx-auto d-block" style="width: 100px; height: 100px">
            {{else}}
            <img src="/images/default-user-icon.jpg" class="rounded-circle mx-auto d-block" style="width: 100px; height: 100px">
            {{/if}}
            </label>
            <input id="avatar" type="file" style="display: none" name="avatar">
            <button type="submit" style="display: none;"></button>
        </div>
    </form>
    

    <hr>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
        <li class="nav-item">
            <a href="/information" class="nav-link align-middle px-0 text-dark">
                <i class="bi bi-info-circle "></i> <span class="ms-1 d-none d-sm-inline text-decoration-none ">Thông tin
                    cá nhân</span>
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="/changePassword" class="nav-link align-middle px-0 text-dark">
                <i class="bi bi-lock-fill"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Thay đổi mật
                    khẩu</span>
            </a>
        </li>
        {{!-- <hr>
        <li class="nav-item">
            <a href="/savedNews" class="nav-link align-middle px-0 text-dark">
                <i class="bi bi-bookmark-fill"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Tin đã
                    lưu</span>
            </a>
        </li> --}}
        <hr>
        <li class="nav-item">
            <a href="/auth/logout" class="nav-link align-middle px-0 text-dark">
                <i class="bi bi-box-arrow-right"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Đăng
                    xuất</span>
            </a>
        </li>


    </ul>
</div>
<script>
    document.getElementById("avatar").onchange = function() {
    document.getElementById("form").submit();
};
</script>