<div class="container mx-auto">
    <img src="/images/avatar.svg" class="rounded-circle mx-auto d-block" style="width: 100px; height: 100px;">
    <hr>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
        <li class="nav-item">
            <a href="/information" class="nav-link align-middle px-0 text-dark">
                <i class="bi bi-info-circle "></i> <span class="ms-1 d-none d-sm-inline text-decoration-none ">Thông tin
                    cá nhân</span>
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="/changePassword" class="nav-link align-middle px-0 text-dark">
                <i class="bi bi-lock-fill"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Thay đổi mật
                    khẩu</span>
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="/savedNews" class="nav-link align-middle px-0 text-dark">
                <i class="bi bi-bookmark-fill"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Tin đã
                    lưu</span>
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="/login" class="nav-link align-middle px-0 text-dark">
                <i class="bi bi-box-arrow-right"></i> <span class="ms-1 d-none d-sm-inline text-decoration-none">Đăng
                    xuất</span>
            </a>
        </li>


    </ul>
</div>