<main>
    <div class="container">
        <div class="row">
            {{> admin-left-sidebar}}

            <!-- Sidebar bên phải -->
            <div class="col-md-9" id="sidebar-right">
                <a href="/renew-account" class="nav-link fw-bold px-0"> Danh sách độc giả</a>

                <div class="container mt-3">
                    <!-- Hàng đầu tiên với box search và nút thêm -->
                    <div class="row mb-3 header">
                        <div class="col-md-8 header__search d-flex direction-row">
                            <input type="text" class="form-control " placeholder="Tìm kiếm..." required
                                onkeyup="filter(this.value)">
                            <button class="btn btn-primary ms-3 float-end" type="button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Bảng danh sách -->
                    <table class="table list align-middle">
                        <thead>
                            <tr>
                                <th class="list__header" style="width: 5%;"></th>
                                <th class="list__header" style="width: auto;">Tên</th>
                                <th class="list__header" style="width: auto;">Email</th>
                                <th class="list__header" style="width: auto;">Ngày gia hạn</th>
                                <th class="list__header" style="width: auto;">Ngày hết hạn</th>
                                <th class="list__header" style="width: 11.5%;">Trạng thái</th>
                                <th class="list__header" style="width: auto;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="list__item">
                                <td class="list_image"><img src="/images/default-user-icon.jpg" width="100%"
                                        height="100%" class="d-block" alt="First slide"></td>
                                <td class="list__name">Bùi Quốc Trung</td>

                                <td class="list_email">trung2k2@gmail.com</td>
                                <td class="list_date-start">
                                    <input type="date" readonly id="start-date" name="start-date" value="2023-04-22">
                                </td>
                                <td class="list_date-end">
                                    <input type="date" readonly id="end-date" name="end-date" value="2023-04-29">
                                </td>
                                <td class="list_status">Còn hạn</td>
                                <td class="list__actions text-end">
                                    <!-- <a href="#" class="btn btn-danger" onclick="renewDate(this)"><i class="fa-regular fa-calendar-check"></i>    </a> -->
                                </td>
                            </tr>
                            <tr class="list__item">
                                <td class="list_image"><img src="/images/default-user-icon.jpg" width="100%"
                                        height="100%" class="d-block" alt="First slide"></td>
                                <td class="list__name">Trần Bảo Anh</td>

                                <td class="list_email">anh2k2@gmail.com</td>
                                <td class="list_date-start">
                                    <input type="date" readonly id="start-date" name="start-date" value="2023-04-11">
                                </td>
                                <td class="list_date-end">
                                    <input type="date" readonly id="end-date" name="end-date" value="2023-04-18">
                                </td>
                                <td class="list_status">Hết hạn</td>
                                <td class="list__actions text-end">
                                    <a href="#" class="btn btn-danger" onclick="renewDate(this)"><i
                                            class="fa-regular fa-calendar-check"></i> </a>

                                </td>
                            </tr>
                            <tr class="list__item">
                                <td class="list_image"><img src="/images/default-user-icon.jpg" width="100%"
                                        height="100%" class="d-block" alt="First slide"></td>
                                <td class="list__name">Phan Quốc Kỳ</td>

                                <td class="list_email">kydeptrai@gmail.com</td>
                                <td class="list_date-start">
                                    <input type="date" readonly id="start-date" name="start-date" value="2023-04-23">
                                </td>
                                <td class="list_date-end">
                                    <input type="date" readonly id="end-date" name="end-date" value="2023-04-30">
                                </td>
                                <td class="list_status">Còn hạn</td>
                                <td class="list__actions text-end">
                                    <!-- <a href="#" class="btn btn-danger" onclick="renewDate(this)"><i class="fa-regular fa-calendar-check"></i>    </a> -->

                                </td>
                            </tr>
                            <tr class="list__item">
                                <td class="list_image"><img src="/images/default-user-icon.jpg" width="100%"
                                        height="100%" class="d-block" alt="First slide"></td>
                                <td class="list__name">Đoàn Nguyễn Thành</td>

                                <td class="list_email">thdoan@gmail.com</td>
                                <td class="list_date-start">
                                    <input type="date" readonly id="start-date" name="start-date" value="2023-04-15">
                                </td>
                                <td class="list_date-end">
                                    <input type="date" readonly id="end-date" name="end-date" value="2023-04-22">
                                </td>
                                <td class="list_status">Hết hạn</td>
                                <td class="list__actions text-end">
                                    <a href="#" class="btn btn-danger" onclick="renewDate(this)"><i
                                            class="fa-regular fa-calendar-check"></i> </a>

                                </td>
                            </tr>
                            <tr class="list__item ">
                                <td class="list_image"><img src="/images/default-user-icon.jpg" width="100%"
                                        height="100%" class="d-block" alt="First slide"></td>
                                <td class="list__name">Hanh Tran</td>

                                <td class="list_email">hanhtran@gmail.com</td>
                                <td class="list_date-start">
                                    <input type="date" readonly id="start-date" name="start-date" value="2023-03-22">
                                </td>
                                <td class="list_date-end">
                                    <input type="date" readonly id="end-date" name="end-date" value="2023-03-29">
                                </td>
                                <td class="list_status">Hết hạn</td>
                                <td class="list__actions text-end">
                                    <a href="#" class="btn btn-danger" onclick="renewDate(this)"><i
                                            class="fa-regular fa-calendar-check"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <!-- Pagination -->
                        <div class="col-md-12 mt-4">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <!-- place footer here -->
</footer>


<!-- Tim kiem  -->
<script>
    function filter(keyword) {
        keyword = keyword.toLowerCase();
        document.querySelectorAll('.list__name').forEach(item => {
            if (item.innerText.toLowerCase().indexOf(keyword) >= 0) {
                item.parentElement.style.display = "";
            }
            else
                item.parentElement.style.display = 'none';
        });
    }

</script>

<script>
    function renewDate(row) {
        const rowParent = row.closest('.list__item');
        const startDateInput = rowParent.querySelector('.list_date-start #start-date');
        const endDateInput = rowParent.querySelector('.list_date-end #end-date');
        const currentDate = new Date();
        startDateInput.value = currentDate.toISOString().slice(0, 10);
        currentDate.setDate(currentDate.getDate() + 7);
        endDateInput.value = currentDate.toISOString().slice(0, 10);
        rowParent.querySelector('.list_status').textContent = "Còn hạn";
        row.remove();
    }
</script>