<main>
    <div class="container d-flex flex-column align-items-center" style='width:80%;'>


        <img src="/images/logoAdmin.jpg" style="width: 30%; height:30%">
        <br>
        <img src='/images/brand-logo.svg' style="width: 40%; height:40%">

        <div style="width: 60%">
            <form action="/auth/login" method="post">
                <!-- Email input -->
                <div class="form-outline mb-3">
                    <label class="form-label" for="form2Example1">Tên đăng nhập</label>
                    <input class="form-control" type="email" placeholder="Email" name="email" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <label class="form-label" for="form2Example2">Mật khẩu</label>
                    <input class="form-control" type="password" placeholder="Password" name="password" required>
                </div>

                <div class="form-outline mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="newaccount" name="keepSignedInAdmin">
                        <label class="custom-control-label" for="newaccount">Lưu trạng thái đăng nhập</label>
                    </div>
                </div>

                {{#if adminLoginMessage }}
                <div class="alert alert-warning mt-3">
                    {{{adminLoginMessage}}}
                </div>
                {{/if}}

                <!-- Submit button -->
                <div class='text-center'>
                    <button type="submit" class="btn btn-primary btn-block mb-3"> Đăng nhập </button>
                </div>

                <input type="hidden" name="reqUrl" value="{{reqUrl}}">
            </form>
        </div>
    </div>
</main>