<main>
    <div class="container d-flex flex-column align-items-center" style='width:80%;'>


        <img src="/assets/images/logoAdmin.jpg" style="width: 30%; height:30%">
        <br>
        <img src='/assets/images/brand-logo.svg' style="width: 40%; height:40%">

        <div style="width: 60%">
            <form onsubmit="submitHandler(event)">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Tên đăng nhập</label>
                    <input type="email" id="form2Example1" class="form-control" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">Mật khẩu</label>
                    <input type="password" id="form2Example2" class="form-control" />
                </div>


                <!-- Submit button -->
                <div class='text-center'>
                    <button type="submit" class="btn btn-primary btn-block mb-4"> Đăng nhập </button>
                </div>

            </form>
        </div>
    </div>
</main>