<main>
    <div class="user-enter-new-password__card">
        <form id="user-enter-new-password-form" action="/auth/reset-password" method="post">
            <input type="text" value="{{userId}}" name="userId" hidden>
            <h2>Đặt lại mật khẩu</h2>
            {{#if errorMessage}}
            <div class="alert alert-danger" style="display: flex; justify-content: space-between; align-content: center">
                {{{errorMessage}}}
                <div class="xmark-button"><i class="fa-solid fa-xmark" style="color: rgb(220, 66, 66); font-size: large"></i></div>
            </div>
            {{/if}}
            {{#if successMessage}}
            <div class="alert alert-success" style="display: flex; justify-content: space-between; align-content: center">
                {{{successMessage}}} 
                <div class="xmark-button"><i class="fa-solid fa-xmark" style="color: rgb(32, 104, 32); font-size: large"></i></div>
            </div>
            {{/if}}
            <div class="mt-5 mb-3">
                <label for="newPassword" class="form-label">Mật khẩu mới</label>
                <input type="password" class="form-control" name="newPassword" id="newPassword"
                    placeholder="**********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                    onblur="validatePassword()"
                    required>
            </div>
            <div class="mt-3 mb-3">
                <label for="newPasswordConfirm" class="form-label">Nhập lại mật khẩu mới</label>
                <input type="password" class="form-control" name="newPasswordConfirm" id="newPasswordConfirm"
                    placeholder="**********" onblur="validatePassword()" onkeyup="validatePassword()" required>
            </div>
            <p id="user-enter-new-password-error"
                    class="mb-3 user-account__change-password-form-input__error-message user-account__change-password-form-input__error-message--hidden">Mật khẩu không được
                    để trống!</p>
            <button type="submit" class="btn btn-primary mt-3 mb-5">Xác nhận</button>
        </form>
    </div>
</main>
<script>
    const validatePassword = () => {
        const form = document.querySelector('#user-enter-new-password-form');

        // Check if password, password confirmation not empty and match
        const password = form.querySelector('[name=newPassword]');
        const passwordConfirm = form.querySelector('[name=newPasswordConfirm]');
        const passwordValue = password.value.trim();
        const passwordConfirmValue = passwordConfirm.value.trim();
        const passwordError = document.getElementById('user-enter-new-password-error');
        if (passwordValue === '') {
            password.classList.add('user-account__change-password-form-input--error');
            passwordError.innerText = 'Mật khẩu không được để trống!';
            passwordError.classList.remove('user-account__change-password-form-input__error-message--hidden');
        } else {
            password.classList.remove('user-account__change-password-form-input--error');
            passwordError.classList.add('user-account__change-password-form-input__error-message--hidden');
            if (passwordConfirmValue !== passwordValue) {
            passwordConfirm.classList.add('user-account__change-password-form-input--error');
            passwordError.innerText = 'Mật khẩu không khớp!';
            passwordError.classList.remove('user-account__change-password-form-input__error-message--hidden');
            } else {
                passwordConfirm.classList.remove('user-account__change-password-form-input--error');
                passwordError.classList.add('user-account__change-password-form-input__error-message--hidden');
            }
        }
    }

    document.querySelectorAll('.user-enter-new-password__card .xmark-button').forEach(xmark => xmark.addEventListener('click', event => {
        document.querySelectorAll('.user-enter-new-password__card .alert').forEach(item => item.style.display = 'none');
    }))
</script>