<script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
<main>
    {{#if createSuccess}}
    <div class="alert alert-success">{{createSuccess}}</div>
    {{else if createFail}}
    <div class="alert alert-danger">{{createFail}}</div>
    {{/if}}
    <div class='container mt-3 rounded-3 shadow-lg' style="width: 80%; background-color: lightgray;">
        <h2 class='mx-4'>Biên soạn</h2>
        <form action="/edit/news" enctype="multipart/form-data" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" id="title" name="title" placeholder='Tiêu đề'>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="tag" name="tag" placeholder='Tag'>
            </div>
            <div class="mb-3 form-control">
                <input type="file" name="image">
                <lable class="">Ảnh đại diện bài báo</lable>
            </div>
            <div class="mb-3 form-control">
                <input type="file" name="image">
                <label>Ảnh bìa bài báo</label>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="youtubePath" name="youtubePath" placeholder='Link youtube'>
            </div>
            <div class='mb-3'>
                <textarea class="form-control" name="abstract" placeholder="Tóm tắt nôị dung"></textarea>
            </div>

            <div class='mb-3'>
                <textarea id="editor" class="ckeditor" name="content">This is some sample content.</textarea>
            </div>
            <button type="submit" class="btn btn-primary " required>Nộp</button>
        </form>

    </div>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        function toggleSearchForm() {
            let classes = document.querySelector('.header__search-form').classList;
            if (classes.contains('header__search-form--hidden'))
                document.querySelector('.header__search-form').classList.remove('header__search-form--hidden');
            else
                document.querySelector('.header__search-form').classList.add('header__search-form--hidden');
        }
    </script>

</main>
<footer>
    <!-- place footer here -->
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>