
<main>
    <div class='container ' style='width: 80%;'>
        <h2 class="mx-5">Danh sách bài viết<h2>
                <div class='card rounded-4 shadow-lg m-2 border-success border-top-0'
                    style='width: 100%;background-color: lightgrey;'>
                    <div class='row g-2'>
                        <div class='col-2'>
                            <img src='/images/writer-logo.jpeg' class='card-img mw-100 rounded-circle'>
                        </div>
                        <div class='col-8'>
                            <div class='card-body'>
                                <div class='card-title'>Heading 1</div>
                                <p style='font-size: 13px;'> Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                                    provident, ut architecto omnis a nemo quam quo. Iste, odit. Est veniam debitis dicta
                                    explicabo vero eaque similique corrupti aut aliquid.</p>
                            </div>
                        </div>
                        <div class='col-2 d-flex flex-column justify-content-center'>
                            <button type="button" class="btn rounded-5 m-auto" style="background-color: lightgreen;"><i
                                    class="bi bi-check2-circle rounded-circle"
                                    style="background-color: greenyellow;"></i>Thành công</button>
                        </div>

                    </div>
                </div>

                <div class='card rounded-4 shadow-lg m-2 border-danger border-top-0'
                    style='width: 100%;background-color: lightgrey;'>
                    <div class='row g-2'>
                        <div class='col-2'>
                            <img src='/images/writer-logo.jpeg' class='card-img mw-100 rounded-circle'>
                        </div>
                        <div class='col-8'>
                            <div class='card-body'>
                                <div class='card-title'>Heading 1</div>
                                <p style='font-size: 13px;'> Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                                    provident, ut architecto omnis a nemo quam quo. Iste, odit. Est veniam debitis dicta
                                    explicabo vero eaque similique corrupti aut aliquid.</p>
                            </div>
                        </div>
                        <div class='col-2 d-flex flex-column justify-content-center'>
                            <button type="button" class="btn rounded-5 m-auto" style="background-color: lightcoral;"><i
                                    class="bi bi-file-earmark-medical"></i></i>Từ chối</button>
                            <button type="button" class="btn rounded-5 m-auto" style="background-color: lightsalmon;"><i
                                    class="bi bi-pencil-fill rounded-circle"></i><a href="editor.html"
                                    class='text-black text-decoration-none'>Sửa lại</a></button>
                        </div>

                    </div>
                </div>

    </div>


    <script>
        function toggleSearchForm() {
            let classes = document.querySelector('.header__search-form').classList;
            if (classes.contains('header__search-form--hidden'))
                document.querySelector('.header__search-form').classList.remove('header__search-form--hidden');
            else
                document.querySelector('.header__search-form').classList.add('header__search-form--hidden');
        }
    </script>

</main>
<footer>
    <!-- place footer here -->
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>