/*  File này chứa mọi code CSS, mọi người copy CSS của mình vào đây
    rồi sửa lại tên selector nếu bị trùng nhau (dùng BEM nếu cần)
    nhớ sửa luôn trong html tương ứng */

/**********************************/
/*********** HEADER CSS ***********/
/**********************************/
body {
    margin-top: 80px;
}

.header__dropdown-menu li {
    position: relative;
}

.header__dropdown-menu .header__dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.header__dropdown-menu .header__dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.header__dropdown-menu>li:hover>.header__dropdown-submenu {
    display: block;
}

.header__nav-ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__nav-ul>li {
    margin-inline: 15px;
}

.header__login-button {
    margin-inline-start: 20px;
    background-color: #7d6090;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}

.header__login-button:hover {
    background-color: #5c4070 !important;
}

.header__nav-li--active {
    font-weight: bold;
    font-size: 110%;
}

.header__nav-li--active>a {
    color: #5c4070 !important;
}

.header__search-container {
    position: relative;
}

.header__search-form {
    position: absolute;
    width: 300px;
    left: -250px;
    top: 50px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px 0px;
}

.header__search-form>button {
    background-color: #7d6090;
    color: white;
    width: 150px;
}

.header__search-form>button:hover {
    background-color: #5c4070 !important;
    color: white !important;
}

.header__search-form>input {
    border: none !important;
}

.header__search-form--hidden {
    display: none !important;
}

.header__search-toggle:hover {
    cursor: pointer;
}

.header-account-dropdown-toggle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 20px;
    position: relative;
}

.header-account-dropdown-toggle:hover {
    cursor: pointer;
}

.header-account-dropdown-toggle>img {
    margin-inline-end: 8px;
    height: 50px;
    width: auto;
}

.header-account-dropdown-menu {
    position: absolute;
    top: 82px;
    right: 108px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    height: fit-content;
    border: 1px solid #cccccc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-account-dropdown-menu--hidden {
    display: none;
}

.header-account-dropdown-menu>div {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0px;
    text-align: end;
}

.header-account-dropdown-menu>div:first-child {
    padding: 0px 0px 10px 0px;
}

.header-account-dropdown-menu>div:last-child {
    border: none;
    padding: 10px 0px 0px 0px;
}

.header-account-dropdown-menu>div>p {
    margin: 0px;
}

.header-account-dropdown-menu__user-info {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header-account-dropdown-menu__user-info>div {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-inline-end: 20px;
}

.header-account-dropdown-menu__user-info>div>h5 {
    width: fit-content;
}

.header-account-dropdown-menu__user-info>div>span {
    border-radius: 5px;
    background-color: #FFB316;
    width: fit-content;
    padding: 1px 10px;
    color: white;
}

.header-account-dropdown-menu>div>a {
    text-decoration: none;
    color: black;
}

.header-account-dropdown-menu>div>p {
    cursor: pointer;
}