/*  File này chứa mọi code CSS, mọi người copy CSS của mình vào đây
    rồi sửa lại tên selector nếu bị trùng nhau (dùng BEM nếu cần)
    nhớ sửa luôn trong html tương ứng */

/**********************************/
/*********** HEADER CSS ***********/
/**********************************/
body {
  margin-top: 80px;
}

.header__dropdown-menu li {
  position: relative;
}

.header__dropdown-menu .header__dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.header__dropdown-menu .header__dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.header__dropdown-menu > li:hover > .header__dropdown-submenu {
  display: block;
}

.header__nav-ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__nav-ul > li {
  margin-inline: 15px;
}

.header__login-button {
  margin-inline-start: 20px;
  background-color: #7d6090;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
}

.header__login-button:hover {
  background-color: #5c4070 !important;
}

.header__nav-li--active {
  font-weight: bold;
  font-size: 110%;
}

.header__nav-li--active > a {
  color: #5c4070 !important;
}

.header__search-container {
  position: relative;
}

.header__search-form {
  position: absolute;
  width: 300px;
  left: -250px;
  top: 50px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px 0px;
}

.header__search-form > button {
  background-color: #7d6090;
  color: white;
  width: 150px;
}

.header__search-form > button:hover {
  background-color: #5c4070 !important;
  color: white !important;
}

.header__search-form > input {
  border: none !important;
}

.header__search-form--hidden {
  display: none !important;
}

.header__search-toggle:hover {
  cursor: pointer;
}

.header-account-dropdown-toggle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 20px;
  position: relative;
}

.header-account-dropdown-toggle:hover {
  cursor: pointer;
}

.header-account-dropdown-toggle > img {
  margin-inline-end: 8px;
  height: 50px;
  width: auto;
}

.header-account-dropdown-menu {
  position: absolute;
  top: 82px;
  right: 108px;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  height: fit-content;
  border: 1px solid #cccccc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-account-dropdown-menu--hidden {
  display: none;
}

.header-account-dropdown-menu > div {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px;
  text-align: end;
}

.header-account-dropdown-menu > div:first-child {
  padding: 0px 0px 10px 0px;
}

.header-account-dropdown-menu > div:last-child {
  border: none;
  padding: 10px 0px 0px 0px;
}

.header-account-dropdown-menu > div > p {
  margin: 0px;
}

.header-account-dropdown-menu__user-info {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header-account-dropdown-menu__user-info > div {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-inline-end: 20px;
}

.header-account-dropdown-menu__user-info > div > h5 {
  width: fit-content;
}

.header-account-dropdown-menu__user-info > div > span {
  border-radius: 5px;
  background-color: #ffb316;
  width: fit-content;
  padding: 1px 10px;
  color: white;
}

.header-account-dropdown-menu > div > a {
  text-decoration: none;
  color: black;
}

.header-account-dropdown-menu > div > p {
  cursor: pointer;
}

/********************************************/
/***** READERS, SUBSCRIBER HOMEPAGE CSS *****/
/********************************************/
.homepage__main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.homepage__carousel-inner {
  border-radius: 30px;
  width: 100%;
  height: 450px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.homepage__carousel-item {
  position: relative;
  height: 100%;
}

.homepage__carousel-blackcover {
  background-color: black;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 50px 100px;
  z-index: 1;
}

.homepage__carousel-overlay-content {
  position: absolute;
  margin: 0px 100px;
  padding: 50px 0px;
  width: calc(100% - 200px);
  height: 100%;
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.homepage__carousel-overlay-content a {
  text-decoration: none !important;
  color: white;
}

.homepage__carousel-item-title {
  line-height: 200%;
}

.homepage__category-badge {
  background-color: #58bd88;
  border-radius: 30px;
  padding: 5px 20px;
  width: fit-content;
}

.homepage__section-title {
  font-weight: bold;
}

.homepage__col-top-category {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.homepage__col-top-category > .homepage__section-title {
    align-self: flex-start;
    margin-inline-start: 10%;
}

.homepage__top-category {
    width: 90%;
    height: 175px;
    border-radius: 30px;
    position: relative;
    margin-bottom: 15px;
    font-size: 90% !important;
}

.homepage__top-category-blackcover {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
}

.homepage__top-category img {
    position: absolute;
    border-radius: 30px;
}

.homepage__top-category-overlay-content {
    z-index: 2;
    position: absolute;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    padding: 15px 20px !important;
    width: 100%;
    height: 100%;
    color: white !important;
    margin: auto !important;
}

.homepage__top-category-overlay-content a {
    text-decoration: none;
    color: white;
}

.homepage__top-category-title {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.homepage__top-category-title > .top-number {
    background-color: #58BD88;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.homepage__top-category-title > .category-name {
    background-color: #58BD88;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 20px;
    padding: 0px 20px;
    box-sizing: border-box;
}

.homepage__top-category p {
    margin: 0px !important;
    font-weight: 300 !important;
}

.homepage__top-category-article-title {
    font-weight: 500;
    font-size: 110%;
}

.homepage-wide-article {
    width: 100%;
    height: 150px;
    display: flex;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.homepage-wide-article:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homepage-wide-article > a > img {
    border-radius: 10px 0px 0px 10px;
}

.homepage-wide-article__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline-start: 20px;
    padding: 10px 0px;
}

.homepage-wide-article__text > a {
    margin: 0px !important;
    text-decoration: none !important;
    color: black !important;
    font-weight: 500;
}

.homepage-wide-article__text > p {
    margin: 0px !important;
}

.homepage-wide-article__text > span {
    background-color: #7C618E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: white !important;
    width: fit-content;
    padding: 0px 8px;
}

.homepage-small-article {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.homepage-small-article:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.homepage-small-article__image-and-category {
    position: relative;
}

.homepage-small-article__image-and-category > img {
    border-radius: 10px 10px 0px 0px;
}

.homepage-small-article__image-and-category > span {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white !important;
    background-color: #7C618E;
    width: fit-content;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 85%;
}

.homepage-small-article__title-and-date {
    padding: 10px;
}

.homepage-small-article__title-and-date > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 5px 0px 0px 0px !important;
}

.homepage-small-article__title-and-date > p {
    font-weight: 300;
    margin: 5px 0px 0px 0px !important;
    font-size: 85%;
}

/**********************************************************/
/*********** READERS, SUBSCRIBERS NEWS LIST CSS ***********/
/**********************************************************/
.user-news__category-select {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

.user-news__category-select button {
    background-color: #AAAAAA;
    color: white !important;
    border: none !important;
    margin-inline-end: 20px !important;
    border-radius: 30px !important;
}

.user-news__category-select button:not(.user-news__active-category):hover {
    background-color: #888888 !important;
}

.user-news__active-category {
    background-color: #7E5F90 !important;
}

.user-news__active-category:hover {
    background-color: #7E5F90 !important;
}

.user-news__col-select-tag {
    padding: 20px 0px 0px 0px !important;
}

.user-news__col-select-tag > h5 {
    padding: 0px !important;
    margin: 0px 0px 10px 0px !important;
}

.user-news__tag-select, .user-news__active-tags {
    width: 100%;
    margin: 0px !important;
}

.user-news__tag {
    padding: 1px 10px;
    margin-inline-end: 5px;
    margin-bottom: 10px;
    background-color: var(--bs-secondary);
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
    font-size: 80%;
}

.user-news__tag:hover {
    cursor: pointer;
}

.user-news__active-tag {
    background-color: #7E5F90;
}

.user-news__article-list {
    margin-top: 40px;
}

.user-news__article {
    display: flex;
    justify-content: flex-start;
    height: 200px;
    margin-bottom: 30px;
}

.user-news__article > img {
    border-radius: 10px;
    margin-inline-end: 20px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.user-news__article-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-news__article-category {
    width: fit-content;
    padding: 2px 8px;
    background-color: #00AAA8;
    border-radius: 8px;
}

.user-news__article-category > a {
    text-decoration: none;
    color: white;
}

.user-news__article-tags {
    margin: 0px;
    padding: 0px;
}

.user-news__article-intro {
    margin: 0px;
}

.user-news__article-title {
    margin: 0px;
}

.user-news__article-title > a {
    text-decoration: none;
    color: black;
}

/************************************************/
/***** READERS, SUBSCRIBER NEWS DETAILS CSS *****/
/************************************************/
.user-news-details__article-info {
  width: 100%;
  height: 500px;
  position: relative;
}

.user-news-details__main-image {
  object-fit:cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.user-news-details-article-info__black-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.875;
  z-index: 1;
}

.user-news-details-article-info__overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white !important;
}

.user-news-details-article-info__overlay-content > span {
  background-color: #58BD88;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  width: fit-content;
  animation: fade-up 0.75s linear;
}

.user-news-details-article-info__overlay-content a {
  text-decoration: none;
  color: white;
}

.user-news-details-article-info__overlay-content h1 {
  line-height: 200%;
  font-weight: 500;
  animation: fade-up 1s linear;
}

.user-news-details-article-info__overlay-content h5 {
  line-height: 200%;
  font-weight: 300;
  animation: fade-up 1.25s linear;
}

.user-news-details-article-info__overlay-content p {
  font-weight: 300;
  animation: fade-up 1.5s linear;
}

.user-news-details__tag-list {
  margin: 30px 0px;
}

.user-news-details__tag-list span {
  margin-inline-start: 5px;
  background-color: #777777;
  border-radius: 10px;
  padding: 4px 10px;
}

.user-news-details__tag-list > span > a {
  color: white;
  text-decoration: none !important;
}

.user-news-details__tag-list > span:first-child {
  margin-inline-start: 30px;
}

.user-news-details__content-image {
  width: 70%;
  height: auto;
  margin: 0px auto 20px auto;
  border-radius: 8px;
  align-self: center;
}

.user-news-details__comment-form-container {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 0px !important;
  margin: 20px 0px;
}

.user-news-details__comment-form-container textarea {
  width: 100%;
  margin: 0px !important;
  padding: 10px !important;
  border-radius: 15px;
  border: 1px solid black;
}

.user-news-details__comment-form-container textarea:focus {
  outline: 2px solid #5C416E;
  border: none;
}

.user-news-details__comment-submit-button {
  background-color: #7C618E !important;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

.user-news-details__comment-submit-button:hover {
  background-color: #5C416E !important;
  color: white !important;
}

.user-news-details__comment-submit-button--disabled {
  background-color: #888888 !important;
  color: white !important;
}

.user-news-details__comment-submit-button--disabled:hover {
  background-color: #888888 !important;
  color: white !important;
  cursor: not-allowed;
}

.user-news-details__comment {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0px;
}

.user-news-details__comment-content {
  margin-inline-start: 30px;
}

.user-news-details__comment-content > p {
  margin: 0px;
}

.user-news-details__comment-content > p > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 125%;
}

.user-news-details__comment-content > p:nth-child(2) {
  font-weight: 300;
  margin-bottom: 15px;
}

.user-news-details__comment-pagination-container {
  display: flex;
  justify-content: center;
}

.user-news-details__page-item + .active > a {
  background-color: #7C618E !important;
  border: none !important;
}

.user-news-details__carousel-overlay-content {
  font-size: 90% !important;
}

.user-news-details__carousel-overlay-content p {
  margin: 0px !important;
}

.user-news-details__carousel-inner {
  border-radius: 30px;
  width: 100%;
  height: 175px;
}

.user-news-details__carousel-item {
  position: relative;
  height: 100%;
}

.user-news-details__carousel-blackcover {
  background-color: black;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 50px 100px;
  z-index: 1;
}

.user-news-details__carousel-overlay-content {
  position: absolute;
  margin: 0px 40px;
  padding: 15px 0px 15px 0px;
  width: calc(100% - 80px);
  height: 100%;
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.user-news-details__carousel-overlay-content a {
  text-decoration: none !important;
  color: white;
}

.user-news-details__carousel-overlay-content .category-badge {
  background-color: #58BD88;
  border-radius: 15px;
  padding: 2px 10px;
  width: fit-content;
}

.user-news-details__carousel-indicators {
  bottom: -45px !important;
}

.user-news-details__carousel-indicators > li {
  background-color: #5C416E !important;
}

@keyframes fade-up {
  from {
      position: relative;
      bottom: -30px;
      opacity: 0;
  }
  to {
      position: relative;
      bottom: 0;
      opacity: 1;
  }
}

/************************************************/
/****** READERS, SUBSCRIBER LOGIN PAGE CSS ******/
/************************************************/
.user-login-card {
  width: 600px;
  max-width: 100%;
  background-color: #441365;
  border-radius: 30px;
  color: white;
  padding: 40px;
  margin: 100px auto 10px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  animation: user-login-fade-up 0.75s linear;
}

@keyframes user-login-fade-up {
  from {
      position: relative;
      bottom: -30px;
      opacity: 0;
  }
  to {
      position: relative;
      bottom: 0;
      opacity: 1;
  }
}

.user-login-card__save-account-and-reset-password {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.user-login-card__save-account-and-reset-password > a {
  color: #7BFFFB;
  text-decoration: none;
}

.user-login-card__submit-and-link-to-sign-up {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 50px;
}

.user-login-card__submit-and-link-to-sign-up > button {
  align-self: flex-end;
  height: 50px;
  min-width: 120px;
  background-color: #00AFA4;
  border-radius: 15px;
  border: none !important;
}

.user-login-card__submit-and-link-to-sign-up > button:hover {
  background-color: #007F74 !important;  
}

.user-login-card__link-to-sign-up {
  text-align: end;
}

.user-login-card__link-to-sign-up > a {
  text-decoration: none;
  font-size: 120%;
  font-weight: bolder;
  color: #7BFFFB !important;
}

.user-login-method-seperator {
  text-align: center;
  font-size: 120%;
  margin: 10px auto;
  animation: user-login-fade-up 1s linear;
}

.user-login-quick-login {
  width: 600px;
  max-width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  animation: user-login-fade-up 1.25s linear;
}

.user-login-quick-login__method {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 30px;
  border-radius: 15px;
  width: calc(50% - 10px);
  align-items: center;
}

.user-login-quick-login__method:hover {
  background-color: #222222;
  cursor: pointer;
}

.user-login-quick-login__method > img {
  width: 60px;
  height: 60px;
  margin-inline-end: 10px;
}

.user-login-quick-login__method h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

/**************************************************/
/****** READERS, SUBSCRIBER SIGN-UP PAGE CSS ******/
/**************************************************/

.user-sign-up-card {
  width: 600px;
  max-width: 100%;
  background-color: #105564;
  border-radius: 30px;
  color: white;
  padding: 40px;
  margin: 100px auto 10px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  animation: user-sign-up-fade-up 0.75s linear;
}

@keyframes user-sign-up-fade-up {
  from {
      position: relative;
      bottom: -30px;
      opacity: 0;
  }
  to {
      position: relative;
      bottom: 0;
      opacity: 1;
  }
}

.user-sign-up-card__input--error {
  background-color: rgb(204, 103, 103);
  border: 2px solid red;
}

.user-sign-up-input__error-message {
  color: rgb(204, 103, 103);
}

.user-sign-up-input__error-message--hidden {
  display: none;
}

.user-sign-up-card button:disabled {
  background-color: #777777;
}

.user-sign-up-card__pwd-inputs {
  display: flex;
  justify-content: space-between;
}

.user-sign-up-card__pwd-inputs > div {
  width: calc(50% - 5px);
}

.user-sign-up-card__submit-and-link-to-sign-in {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 50px;
}

.user-sign-up-card__submit-and-link-to-sign-in > button {
  align-self: flex-end;
  height: 50px;
  min-width: 120px;
  background-color: #EA852F;
  border-radius: 15px;
  border: none !important;
}

.user-sign-up-card__submit-and-link-to-sign-in > button:hover {
  background-color: #CA650F !important;  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.user-sign-up-card__link-to-sign-in {
  text-align: end;
}

.user-sign-up-card__link-to-sign-in > a {
  text-decoration: none;
  font-size: 120%;
  font-weight: bolder;
  color: #7BFFFB !important;
}

.user-sign-up-method-seperator {
  text-align: center;
  font-size: 120%;
  margin: 10px auto;
  animation: user-sign-up-fade-up 1s linear;
}

.user-sign-up-quick {
  width: 600px;
  max-width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  animation: user-sign-up-fade-up 1.25s linear;
}

.user-sign-up-quick__method {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 30px;
  border-radius: 15px;
  width: calc(50% - 10px);
  align-items: center;
}

.user-sign-up-quick__method:hover {
  background-color: #222222;
  cursor: pointer;
}

.user-sign-up-quick__method > img {
  width: 60px;
  height: 60px;
  margin-inline-end: 10px;
}

.user-sign-up-quick__method h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

/****************************************************/
/*** READERS, SUBSCRIBER FORGOT PASSWORD PAGE CSS ***/
/****************************************************/

.user-forgot-password__card {
  width: 600px;
  max-width: 100%;
  background-color: #721029;
  border-radius: 30px;
  color: white;
  padding: 40px;
  margin: 100px auto 10px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  animation: user-forgot-password-fade-up 0.75s linear;
}

.user-forgot-password__card button {
  background-color: #00AFA4;
  border-radius: 15px;
  min-width: 120px;
  padding: 10px 15px;
  border: none !important;
}

.user-forgot-password__card button:hover {
  background-color: #008F84 !important;
}

@keyframes user-forgot-password-fade-up {
  from {
      position: relative;
      bottom: -30px;
      opacity: 0;
  }
  to {
      position: relative;
      bottom: 0;
      opacity: 1;
  }
}

/**************************************************/
/***** READERS, SUBSCRIBER ENTER OTP PAGE CSS *****/
/**************************************************/

.user-enter-otp-card {
  width: 600px;
  max-width: 100%;
  background-color: #721029;
  border-radius: 30px;
  color: white;
  padding: 40px;
  margin: 100px auto 10px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  animation: user-enter-otp-fade-up 0.75s linear;
}

.user-enter-otp-card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.user-enter-otp-card__footer > button {
  background-color: #00AFA4;
  border-radius: 15px;
  min-width: 120px;
  padding: 10px 15px;
  align-self: flex-end !important;
  border: none !important;
}

.user-enter-otp-card__footer > button:hover {
  background-color: #008F84 !important;
}

.user-enter-otp__resend-link {
  text-decoration: none !important;
  color: white !important;
}

.user-enter-otp__resend-link:hover {
  cursor: pointer;
}

.user-enter-otp__resend-link--disabled {
  color: gray !important;
  cursor: not-allowed !important;
}

.user-enter-otp-card__footer > div {
  text-align: end;
}

@keyframes user-enter-otp-fade-up {
  from {
      position: relative;
      bottom: -30px;
      opacity: 0;
  }
  to {
      position: relative;
      bottom: 0;
      opacity: 1;
  }
}

/*******************************************************/
/*** READERS, SUBSCRIBER ENTER NEW PASSWORD PAGE CSS ***/
/*******************************************************/

.user-enter-new-password__card {
  width: 600px;
  max-width: 100%;
  background-color: #721029;
  border-radius: 30px;
  color: white;
  padding: 40px;
  margin: 100px auto 10px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  animation: user-enter-new-password-fade-up 0.75s linear;
}

.user-enter-new-password__card button {
  border-radius: 15px;
  background-color: #00AFA4;
  padding: 10px 20px;
  border: none !important;
}

.user-enter-new-password__card button:hover {
  background-color: #008F84 !important;
}

@keyframes user-enter-new-password-fade-up {
  from {
      position: relative;
      bottom: -30px;
      opacity: 0;
  }
  to {
      position: relative;
      bottom: 0;
      opacity: 1;
  }
}

/*************************************/
/**** SUBSCRIBER ACCOUNT PAGE CSS ****/
/*************************************/

.user-account-navigation {
  background-color: #01ADAE;
  margin: 20px 0px;
  border-radius: 15px;
  padding: 0px 15px;
  width: 90%;
  color: white;
}

.user-account-navigation > div {
  border-bottom: 1px solid #cccccc;
  padding: 15px 0px;
}

.user-account-navigation > div:last-child {
  padding: 15px 0px;
  border: none;
}

.user-account-navigation__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-account__profile-picture-container {
  position: relative;
}

.user-account__change-picture {
  background-color: #eeeeee;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-account-navigation__info > span {
  background-color: #FFB316;
  border-radius: 5px;
  width: fit-content;
  padding: 2px 10px;
  margin-top: 15px;
}

.user-account-navigation__info > small {
  margin-top: 10px;
}

.user-account-navigation__function {
  padding: 0px 20px;
}

.user-account-navigation__function > a {
  text-decoration: none;
  color: white;
}

.user-account__function {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 5px auto;
  padding: 20px 30px;
  border-radius: 15px;
}

.user-account__function > p {
  margin: 0px 0px 0px 20px;
}

.user-account__function:not(.user-account__function--active):hover {
  cursor: pointer;
  background-color: #019D9E;
}

.user-account__function--active {
  background-color: white;
  color: #555555;
}

.user-account-navigation__logout {
  padding: 0px 20px;
}

.user-account-navigation__logout > a {
  color: white !important;
  text-decoration: none !important;
}

.user-account__function-title {
  margin-top: 20px;
  border-bottom: 2px solid #555555;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.user-account__function-title > h4 {
  font-weight: 600;
}

.user-account__information-form button {
  background-color: #01ADAE;
  border: none;
  padding: 8px 30px;
}

.user-account__information-form button:hover {
  background-color: #018D8E !important;
}

.user-account__change-password-form input {
  background-color: #eeeeee !important;
  color: #555555 !important;
}

.user-account__information-form input {
  background-color: #eeeeee !important;
  color: #555555 !important;
}

.user-account__change-password-form button {
  background-color: #01ADAE;
  border: none;
  padding: 8px 30px;
}

.user-account__change-password-form button:hover {
  background-color: #018D8E !important;
}

.user-account__payment-card-select {
  display: flex;
}

.user-account__visa-card {
  background-color: #D8E3F3;
}

.user-account__master-card {
  background-color: #FDEACE;
  margin-inline-start: 20px;
}

.user-account__payment-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  border-radius: 30px;
}

.user-account__payment-card:not(.user-account__payment-card--active):hover {
  cursor: pointer;
}

.user-account__payment-card--active {
  border: 4px solid #7C618E;
}

.user-account__premium-form {
  margin-top: 20px;
}

.user-account__premium-form input {
  background-color: #eeeeee !important;
  color: #555555 !important;
}

.user-account__premium-form label {
  font-weight: 700;
}

.user-account__premium-form-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-account__premium-form-actions .form-check-input:checked {
  background-color: #7C618E !important;
}

.user-account__premium-form-actions > button {
  background-color: #AE4F71;
  border: 1px solid #9E3F61;
  font-size: 130%;
  font-weight: 500;
  padding: 10px 20px;
}

.user-account__premium-form-actions > button:hover {
  background-color: #9E3F61 !important;
  border: 1px solid #9E3F61 !important;
}

/**************************************/
/********** Quoc Trung's CSS **********/
/**************************************/
.col-top-category {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.col-top-category > .section-title {
  align-self: flex-start;
  margin-inline-start: 10%;
}

.top-category {
  width: 90%;
  height: 175px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 15px;
  font-size: 90% !important;
}

.top-category-blackcover {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.85;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
}

.top-category img {
  position: absolute;
  border-radius: 30px;
}

.top-category-overlay-content {
  z-index: 2;
  position: absolute;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  padding: 15px 20px !important;
  width: 100%;
  height: 100%;
  color: white !important;
  margin: auto !important;
}

.top-category-overlay-content a {
  text-decoration: none;
  color: white;
}

.top-category-title {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.top-category-title > .top-number {
  background-color: #58bd88;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.top-category-title > .category-name {
  background-color: #58bd88;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 20px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.top-category p {
  margin: 0px !important;
  font-weight: 300 !important;
}

.top-category-article-title {
  font-weight: 500;
  font-size: 110%;
}

.wide-article {
  width: 100%;
  height: 150px;
  display: flex;
  margin: 20px 0px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wide-article:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wide-article > a > img {
  border-radius: 10px 0px 0px 10px;
}

.wide-article__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline-start: 20px;
  padding: 10px 0px;
}

.wide-article__text > a {
  margin: 0px !important;
  text-decoration: none !important;
  color: black !important;
  font-weight: 500;
}

.wide-article__text > p {
  margin: 0px !important;
}

.wide-article__text > span {
  background-color: #7c618e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: white !important;
  width: fit-content;
  padding: 0px 8px;
}

.small-article {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.small-article:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.small-article__image-and-category {
  position: relative;
}

.small-article__image-and-category > img {
  border-radius: 10px 10px 0px 0px;
}

.small-article__image-and-category > span {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white !important;
  background-color: #7c618e;
  width: fit-content;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 85%;
}

.small-article__title-and-date {
  padding: 10px;
}

.small-article__title-and-date > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin: 5px 0px 0px 0px !important;
}

.small-article__title-and-date > p {
  font-weight: 300;
  margin: 5px 0px 0px 0px !important;
  font-size: 85%;
}

/********************************************/
/************* HEADER ADMIN CSS *************/
/********************************************/
.header__user {
  position: relative;
  display: block;
}

.header__user-menu {
  display: none;
  position: absolute;
  top: 120%;
  right: 50%;
  list-style-type: none;
  white-space: nowrap;
  border: 1px solid lightgray;
  border-radius: 5%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px 0px;
  width: 250%;
}

.header__user-menu li {
  display: block;
  padding: 5% 10%;
}

.header__user-menu a {
  text-decoration: none;
  color: gray;
}

.header__user-menu--active {
  display: block;
}
