.enter-new-password-card {
    width: 600px;
    max-width: 100%;
    background-color: #721029;
    border-radius: 30px;
    color: white;
    padding: 40px;
    margin: 100px auto 10px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    animation: fade-up 0.75s linear;
}

.enter-new-password-card button {
    border-radius: 15px;
    background-color: #00AFA4;
    padding: 10px 20px;
    border: none !important;
}

.enter-new-password-card button:hover {
    background-color: #008F84 !important;
}

@keyframes fade-up {
    from {
        position: relative;
        bottom: -30px;
        opacity: 0;
    }
    to {
        position: relative;
        bottom: 0;
        opacity: 1;
    }
}