.category-select {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

.category-select button {
    background-color: #AAAAAA;
    color: white !important;
    border: none !important;
    margin-inline-end: 20px !important;
    border-radius: 30px !important;
}

.category-select button:not(.active-category):hover {
    background-color: #888888 !important;
}

.active-category {
    background-color: #7E5F90 !important;
}

.active-category:hover {
    background-color: #7E5F90 !important;
}

.col-select-tag {
    padding: 20px 0px 0px 0px !important;
}

.col-select-tag > h5 {
    padding: 0px !important;
    margin: 0px 0px 10px 0px !important;
}

.tag-select, .active-tags {
    width: 100%;
    margin: 0px !important;
}

.tag {
    padding: 1px 10px;
    margin-inline-end: 5px;
    margin-bottom: 10px;
    background-color: var(--bs-secondary);
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
    font-size: 80%;
}

.tag:hover {
    cursor: pointer;
}

.active-tag {
    background-color: #7E5F90;
}

.article-list {
    margin-top: 40px;
}

.article {
    display: flex;
    justify-content: flex-start;
    height: 200px;
    margin-bottom: 30px;
}

.article > img {
    border-radius: 10px;
    margin-inline-end: 20px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.article__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-category {
    width: fit-content;
    padding: 2px 8px;
    background-color: #00AAA8;
    border-radius: 8px;
}

.article-category > a {
    text-decoration: none;
    color: white;
}

.article-tags {
    margin: 0px;
    padding: 0px;
}

.article-intro {
    margin: 0px;
}

.article-title {
    margin: 0px;
}

.article-title > a {
    text-decoration: none;
    color: black;
}